.online-counter {
    font-family: "Cossette Titre";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.online-counter_blink {
    animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    85% {
        opacity: 1;
    }
}