.scroll-to-top-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    background-color: var(--Background-bg-brand, #1217fc);
    border-radius: 100px;
    border: 0.2px solid var(--main-accent);
    width: 60px;
    height: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: height 0.3s ease, padding 0.3s ease;
    padding: 0;
}

.scroll-to-top-container:hover {
    height: 110px;
    padding: 27.5px 0;
    gap: 12px;
}

.scroll-to-top-arrow {
    color: white;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.scroll-to-top-text {
    color: white;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
    flex-shrink: 0;
}

.scroll-to-top-container:hover .scroll-to-top-text {
    opacity: 1;
    height: auto;
}

@media screen and (max-width: 728px) {
    .scroll-to-top-container {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .scroll-to-top-container:hover, .scroll-to-top-text {
        display: none;
        height: 40px;
    }
}