.hero-typo {
    width: 100%;
    max-width: 100%;
}

.hero-typo p {
    margin: 0;
    font-family: 'Whyte';
    font-weight: bold;
    font-size: 18.5vw;
    width: 100%;
    padding: 0;
    line-height: 0.8;
    color: var(--main-accent);
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.hero-typo p#outline {
    -webkit-text-stroke: 1px var(--main-accent);
    color: transparent !important;
}