.hero-typo {
    width: 100%;
    max-width: 100%;
    margin-top: 6px;
}

.hero-typo p {
    margin: 0;
    font-family: 'Whyte';
    font-weight: bold;
    font-size: 16vw;
    letter-spacing: 0.1em;
    width: 100%;
    padding: 0;
    line-height: 0.74;
    color: var(--main-accent);
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.hero-typo p#outline {
    -webkit-text-stroke: 4px var(--main-accent);
    color: transparent !important;
}