/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.hero-typo {
    display: -ms-grid;
    display: grid;
    place-items: center;
    row-gap: 0;
}

.hero-typo p {
    margin: 0;
    font-family: 'Whyte';
    font-weight: 800;
    font-size: 16vw;
    letter-spacing: 0.09em;
    line-height: var(--hero-line-height);
    color: var(--main-accent);
}

/* keep your outline style as before */
.hero-typo p#outline {
    -webkit-text-stroke: 4px var(--main-accent);
    color: transparent;
}