.lava-button {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: 1px solid transparent;

}

.lava-button.outlined {
    border: 1px solid #FFF !important;
    background-color: transparent;
}

.lava-button.outlined:hover {
    background-color: white;
    color: black !important;
}

.lava-button.filled {
    background-color: var(--secondary-accent);
    color: white !important;
}