.lava-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    transition: transform 200ms ease-in-out;
}

.lava-input.classic * {
    padding: 0;
    /* margin: 0; */
}

.lava-input.classic * {
    border-color: transparent;
    outline: none;
}

.lava-input-icon {
    font-size: 24px;
}

.lava-input-button:hover {
    background-color: rgba(255, 255, 255, 0);
    transform: translate3d(5px, 0, 0);
}