.lava-button {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: 1.2px solid transparent;
    outline: none;
}

.lava-button:hover {
    transform: scale(1.02) !important;
}

.lava-button .app-bar__icon-on-hover {
    display: inline-flex;
    align-items: center;
    opacity: 0;
    transform: translateX(-16px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    width: 0;
    outline: none;
    overflow: hidden;
}

.lava-button:hover .app-bar__icon-on-hover {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    width: auto;
    overflow: visible;
    margin-left: 8px;
}

.lava-button.outlined {
    border: 1.2px solid #FFF;
    outline: none;
    background-color: transparent;
}

.lava-button.outlined:hover {
    background-color: white;
    color: black;
}

.lava-button.filled {
    background-color: var(--secondary-accent);
    outline: none;
    color: white;
}

/* COLOR STYLE */
.lava-button.primary {
    background-color: var(--Background-bg-brand);
    color: white;
}

.lava-button.secondary {
    background-color: var(--main-accent);
    color: white;
}

.lava-button.large {
    padding: 24px 48px;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
}

/* DISABLED */
.lava-button.disabled {
    background-color: grey !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
    opacity: 0.6 !important;
}

@media screen and (max-width: var(--mobile-breakpoint)) {
    .lava-button {
        padding: 4px 8px;
        font-size: 12px;
    }
}