.lava-button.outline {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.lava-button.outline:hover {
    background-color: white;
    color: black !important;
    transform: scale(1.06);
}