h1.lava-typo {
    color: inherit;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 104px; */
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    text-align: center;
    font-family: 'Cossette Titre', sans-serif;
    width: 100%;
}

h2.lava-typo {
    color: var(--Text-text-primary, #FFF);
    font-family: 'Cossette Titre', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: left;
}

h3.lava-typo {
    color: var(--Text-text-primary, #FFF);
    text-align: center;
    font-family: "Cossette Titre";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p.lava-typo {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0;

    text-align: left;
    font-family: 'Whyte', sans-serif !important;
}

span.lava-typo.accent {
    color: var(--main-accent);
}

span.lava-typo.bold {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    h1.lava-typo {
        color: var(--Text-text-primary, #FFF);
        text-align: center;
        font-family: "Cossette Titre";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h2.lava-typo {
        color: var(--Text-text-primary, #FFF);
        text-align: center;
        font-family: "Cossette Titre";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h3.lava-typo {
        color: var(--Text-text-secondary, #FFF);
        text-align: center;
        font-family: 'Whyte';
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    p.lava-typo {
        color: var(--Text-text-secondary, #FFF);
        font-family: 'Whyte';
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
    }
}