#root {
    --dark-background: #0c0c0c;

    --main-accent: #ED00E1;
    --secondary-accent: #1217FC;
    --tertiary-accent: #0000AA;

    --hero-line-height: 0.78;

    --Text-text-primary: #FFFFFF;
    --Text-text-secondary: #FFFFFF;
    --Text-text-brand: #ED00E1;

    --Background-bg-brand: #1217FC;

    /* Responsive triggers */
    --default-breakpoint: 1024px;
    --mobile-breakpoint: 768px;
}